.containar {
  border: 2px solid red;
}

.user {
  background-color: aqua;
}

.add-elzero-unique-id {
  font-size: 20 px;
  background-image: url("imags/elzero.png");
  left: 0;
}

.heder {
  color: red;
}

.footor {
  background-color: red;
}

@media (max-width : 20px ) {
  .sidebar {
    padding: 20px;
  }
}
.element > .element-one {
  font-size: 50px;
}
.element .not-direct-child {
  font-weight: 30px;
}

.box {
  font-size: 100px;
  font-weight: 50px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
}
.box .title {
  color: black;
}
.box.grren {
  color: white;
}
.box:hover .title {
  background-color: aqua;
}
:not(.box) {
  font-weight: 500;
}
[dir=rtl] .box {
  direction: rtl;
}
.box .main-box, .box .ads {
  font-size: 20px;
  font-weight: 300;
}
.box .ads {
  color: aquamarine;
}
.box .adser {
  padding: auto;
}

.arrow-div, .box_raduis, .box .adser {
  background-color: rgb(8, 5, 190);
  padding: 15px;
  border: 1px solid #ccc;
}

.box_raduis {
  border-radius: 6px;
}

.arrow-div {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin: 50px auto;
  position: relative;
}
.arrow-div::before {
  content: "";
  position: absolute;
  border: 20px solid transparent;
  bottom: -40px;
  border-top-color: red;
}

.cicle-100 {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 30px;
  margin: 30px;
  background-color: aqua;
  color: rgb(172, 175, 175);
}

.class-1 {
  font-size: 11px;
}

.class-2 {
  font-size: 12px;
}

.class-3 {
  font-size: 13px;
}

.class-4 {
  font-size: 14px;
}

.class-5 {
  font-size: 15px;
}

.class-6 {
  font-size: 16px;
}

.class-7 {
  font-size: 17px;
}

.class-8 {
  font-size: 18px;
}

.class-9 {
  font-size: 19px;
}

.class-10 {
  font-size: 20px;
}

.circle-100 {
  width: 100px;
  height: 50px;
  border-radius: 50%;
}

.circle-200 {
  width: 200px;
  height: 150px;
  border-radius: 50%;
}

.circle-300 {
  width: 300px;
  height: 250px;
  border-radius: 50%;
}

.circle-400 {
  width: 400px;
  height: 350px;
  border-radius: 50%;
}

.circle-500 {
  width: 500px;
  height: 450px;
  border-radius: 50%;
}

.circle-600 {
  width: 600px;
  height: 550px;
  border-radius: 50%;
}

.circle-700 {
  width: 700px;
  height: 650px;
  border-radius: 50%;
}

.circle-800 {
  width: 800px;
  height: 750px;
  border-radius: 50%;
}

.circle-900 {
  width: 900px;
  height: 850px;
  border-radius: 50%;
}

.circle-1000 {
  width: 1000px;
  height: 950px;
  border-radius: 50%;
}

.red-theme .product {
  background-color: white;
  border-bottom: 2px solid red;
}
.red-theme .title {
  color: red;
  font-weight: bold;
}

.green-theme .product {
  background-color: white;
  border-bottom: 2px solid green;
}
.green-theme .title {
  color: green;
  font-weight: bold;
}

.blue-theme .product {
  background-color: white;
  border-bottom: 2px solid blue;
}
.blue-theme .title {
  color: blue;
  font-weight: bold;
}

.facebook {
  background-color: "blue";
  color: white;
}
.facebook::before {
  content: "facebook";
}

.yotube {
  background-color: "red";
  color: white;
}
.yotube::before {
  content: "yotube";
}

.twiter {
  background-color: "blue";
  color: white;
}
.twiter::before {
  content: "twiter";
}

.one {
  font-size: 20px;
  background-color: red;
  color: white;
  font: 10;
}

.two {
  font-size: 15px;
  background-color: green;
  color: white;
  font: 7.5;
}

.three {
  font-size: 30px;
  background-color: blue;
  color: white;
  font: 15;
}

.width-1 {
  width: 2;
  height: 100 px/2;
}

.width-2 {
  width: 3;
  height: 200 px/2;
}

.width-3 {
  width: 4;
  height: 300 px/2;
}

.width-4 {
  width: 5;
  height: 400 px/2;
}

.width-5 {
  width: 6;
  height: 500 px/2;
}

.width-6 {
  width: 7;
  height: 600 px/2;
}

.width-7 {
  width: 8;
  height: 700 px/2;
}

.width-8 {
  width: 9;
  height: 800 px/2;
}

.width-9 {
  width: 10;
  height: 900 px/2;
}

.width-10 {
  width: 11;
  height: 1000 px/2;
}

.clo-1 {
  width: 8.3333333333%;
}

.clo-2 {
  width: 16.6666666667%;
}

.clo-3 {
  width: 25%;
}

.clo-4 {
  width: 33.3333333333%;
}

.clo-5 {
  width: 41.6666666667%;
}

.clo-6 {
  width: 50%;
}

.clo-7 {
  width: 58.3333333333%;
}

.clo-8 {
  width: 66.6666666667%;
}

.clo-9 {
  width: 75%;
}

.clo-10 {
  width: 83.3333333333%;
}

.clo-11 {
  width: 91.6666666667%;
}

.clo-12 {
  width: 100%;
}

.clo-5 {
  background-color: aqua;
}

.element {
  width: 100;
  height: half(200px);
  top: 300;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.badf {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 100px;
}

@-webkit-keyframes go-up {
  from {
    bottom: 0px;
  }
  to {
    bottom: 100px;
  }
}
@keyframes go-up {
  from {
    bottom: 0px;
  }
  to {
    bottom: 100px;
  }
}
@media (max-width: 767px) {
  .media {
    font-size: 5px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .media {
    padding: 20px;
  }
}
@media (max-width: 1200px) {
  .media {
    color: red;
  }
}

/* enas madina */
/*! amira madina *//*# sourceMappingURL=main.css.map */